

html{font-family:sans-serif}
/*html{font-family:"Roboto"}*/

/* FADE EFFECT can be added to class to have text/images fade in */
.Fade{
  animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
}
@keyframes fadeIn {
  0% {opacity:0.3;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0.3;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0.3;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0.3;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0.3;}
  100% {opacity:1;}
}
/* END OF FADE */


/* TypeWriting Animation */
:root {
  --bg-color: #474747;
}
.typewriter_home_title{
  --typewriterCharacters:13;
  --typewriterSpeed: 4s;
}
.typewriter_resume_title{
  --typewriterCharacters:6;
  --typewriterSpeed: 2.5s;
}
.typewriter_designs_title{
  --typewriterCharacters:10;
  --typewriterSpeed: 3.5s;
}
.typewriter_proj_title{
  --typewriterCharacters:8;
  --typewriterSpeed: 3s;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
.TypeWriter::before,
.TypeWriter::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.TypeWriter::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}
.TypeWriter::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}
/* End of TypeWriting Animation */

/* BASIC FORMATING */
body{
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  /*font-size: 28px;*/
}
.link{
  background-color: #474747;
  color: white;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.link:hover{
  background-color: gray;
  transform: scale(0.8);
}

.header{
  background-color: #474747;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 1;
}
.header_textBig{
  position: relative;
  font-family: "Roboto mono", monospace;
  width: max-content;
  /*font-size: clamp(1rem, 3vw + 1rem, 4rem);*/
  font-size: 4vw;
  color:white;
}
.header_textSmall{
  font-size: 3vw;
  color:darkgrey;
}

.navbar{  /* Working on the navigation bar */
  display: flex;  /* Use flexbox to have options appear side by side */
  justify-content: space-between; /* Pushes them as far apart as possible */
  align-items: center; /* Try stretch */
  background-color: #333;
  color: white; /*Text color*/
  overflow:hidden;
  margin:0;
  padding:0;
  top:0;
  position: -webkit-sticky; 
  position: sticky;

  /* HAVING THE MENU OPTIONS EQUAL SIZE */
  width: 100%;
  overflow:auto;
}

.navbar-links ul{ /* Working on the navbar links */
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}
.navbar-links li{ /* Working on the list items to edit */
  list-style: none; /* removes list style (no dots or anything) */
  text-align: center;
  /* MENU OPTION BORDERS */
  border:1px solid #e2e2e2;
  border-width: 1px 1px 1px 1px;
}
.navbar-links li a{ /* Edit all the anchor tag styles */
  text-decoration: none;
  color:white;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover{  /*Changing what happens when hovering mouse over list items*/
  background-color: #555;
  transform: scale(0.8);
}

/* Mobile menu drop down bar*/
.toggle-button{
  position: fixed; /*Forces it to be in a position*/
  top: 1rem;
  right: 1rem;
  display: none; /* Have it not display by default*/
  /*We want it to only display when we have smaller screens*/
  flex-direction: column; /* menu is a collumn (dropdown) menu*/
  justify-content: space-between; /* maximize space */
  width: 30px;
  height: 21px;
}
.toggle-button .bar{
  height: 4px;
  width: 100%;
  background-color: #0096FF;
  border-radius: 8px;
}
.toggle-button:hover{
  transform: scale(0.8);
}

/* This is called a media query
When a specific condition is met it runs the code*/
@media only screen and (max-width: 600px) {

  .header{ /* Helps the Toggle button fit on header */
    background-color: #474747;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .toggle-button{
    display: flex;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    position:relative 
  }
  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar-links ul{
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li{
    text-align: center;
    /* MENU OPTION BORDERS */
    border:1px solid #e2e2e2;
    border-width: 1px 1px 1px 1px;
  }
  .navbar-links li a{
    padding: .5rem 1rem;
  }
  .navbar-links.active{
    display: flex;
  }
  .toggle-button:hover{
    transform: scale(0.8);
  }
}
/* End of Media Query*/

/*  Another media query for later for large screens
@media screen and (min-width: 1200px) {

}
*/

.footer{
  background-color: #474747;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer_textBig{
  font-size: 4vw;
  color:white;
}

.footer_textSmall{
  font-size: 3vw;
  color:white;
}

.banner{
  position:absolute;
  top:0; left:0; right:0;
  height: 100;
  width: 100%;
}

.controls{
  border: 0.5px solid gray;
}

.padding_designs{
  width: 50%;
  height: auto;
}

.padding_designstext{
  margin: 0 150 20 150;          /* Top Right Bottom Left */
}

.main_padding{
  margin: 0 100 0 100;          /* Top Right Bottom Left */
}

/* This is for the Photo to scale */
.container {
  display: flex;
  align-items: center;
  justify-content: center
}

img {
  max-width: 100%
}

.image {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  flex-basis: 80%
}

.text{
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2.5vw;        /* vw = viewpoint width which will scale with window size*/
}

.currentpage {  
  background-color: #0096FF;  
}
 
 /* SOCIAL MEDIA CIRCLES*/
.fa {                 /* Social Media Icon structure */
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {           /* Hover Effect on Social Media Icons */
  opacity: 0.8;
  transform: scale(0.8);
}
/* Set a specific color for each brand */
.fa-LinkedIn {
  background: #007bb5;
  color: white;
}
.fa-Instagram {
  background: #ea4c89;
  color: white;
}
.fa-Github {
  background: white;
  color: black;
}
